<nav class="menu">
  <ul>
    <li class="submenu">
      <span (click)="toggleSubmenu()">Inmueble ▼</span>

      <!-- Submenú oculto por defecto -->
      <ul class="submenu-items" *ngIf="mostrarSubmenuInmueble">
        <li><a (click)="mostrarComponente('publicar')">Publicar Inmueble</a></li>
        <li><a (click)="mostrarComponente('listar')">Listar Inmueble</a></li>
        <li><a (click)="mostrarComponente('roles')">Roles</a></li>
      </ul>
    </li>

    <li class="submenu">
      <span (click)="toggleSubmenu()">Rol ▼</span>

      <!-- Submenú oculto por defecto -->
      <ul class="submenu-items" *ngIf="mostrarSubmenuInmueble">
        <li><a (click)="mostrarComponente('roles')">Roles</a></li>
      </ul>
    </li>

    <li><a (click)="cerrarSesion()">Cerrar sesión</a></li>
  </ul>
</nav>

<div class="contenido">
  <app-inmueble *ngIf="componenteActivo === 'publicar'"></app-inmueble>
  <app-listar-inmuebles *ngIf="componenteActivo === 'listar'"></app-listar-inmuebles>
  <app-roles *ngIf="componenteActivo === 'roles'"></app-roles>
</div>